node_modules
dist
.git
.gitignore
.env
.env.*

.dart_tool
build
.flutter-plugins
.flutter-plugins-dependencies
.packages

android/.gradle
ios/Pods
ios/Flutter/ephemeral
macos/Pods
linux/flutter/ephemeral
windows/flutter/ephemeral

.run
coverage
*.log
*.pid
tmp
