<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Copy to GoogleService-Info.plist after registering the iOS app in Firebase
  (bundle id: com.istochnikzhizni.molitva). Do not commit the real file.
  See ../../PUSH_SETUP.md
-->
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>REPLACE_ME.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.REPLACE_ME</string>
	<key>API_KEY</key>
	<string>REPLACE_ME</string>
	<key>GCM_SENDER_ID</key>
	<string>93057601077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.istochnikzhizni.molitva</string>
	<key>PROJECT_ID</key>
	<string>mychurch-29bce</string>
	<key>STORAGE_BUCKET</key>
	<string>mychurch-29bce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:93057601077:ios:REPLACE_ME</string>
</dict>
</plist>
